# Ingnore Folders
.idea
__pycache__
env/
htmlcov/
kyleinprogress/media/

# Ignore Files
*.codekit3
*.pyc
*.sqlite3
.coverage
.DS_Store
config.json
kyleinprogress/static/css/*.css
kyleinprogress/static/css/*.map
