# Ingnore Folders
.idea
__pycache__
env/
reports/
node_modules/
kyleinprogress/media/

# Ignore Files
*.codekit3
*.pyc
.DS_Store
config.json
db.sqlite3
kyleinprogress/static/css/*.css
kyleinprogress/static/css/*.map
