Django==2.0.2
django-copyright==1.0.0
django-debug-toolbar==1.8
django-el-pagination==3.1.0
django-jenkins==0.110.0
factory-boy==2.10.0
Faker==0.8.10
feedparser==5.2.1
markdown2==2.3.4
olefile==0.44
Pillow==4.3.0
Pygments==2.2.0
python-dateutil==2.6.1
pytz==2017.3
six==1.11.0
sqlparse==0.2.4
text-unidecode==1.1
