#############################
#   Ubuntu
#############################

# Required For All Packages
python3-dev

# Required For MySQL
libmysqlclient-dev

# Required For Pillow
libtiff5-dev libjpeg8-dev zlib1g-dev libfreetype6-dev liblcms2-dev libwebp-dev tcl8.6-dev tk8.6-dev python-tk
