{% load staticfiles i18n %}
<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Kyle Warner">
    <meta name="copyright" content="Kyle Warner, All Rights Reserved." />

    <title>{% block title %}KyleInProgress{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" type="application/rss+xml" title="Blog posts" href="/feed/" >

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="{% static "css/main.min.css" %}" >
    {% block stylesheets %}{% endblock %}

    <!--[if lt IE 9]>
            <script src="/js/vendor/html5shiv.min.js"></script>
    <![endif]-->
    <script src="{% static "js/vendor/modernizr.custom.32229-2.8-respondjs-1-4-2.js" %}"></script>
    {% block javascript %}{% endblock %}

    <!-- To include anything else in the head tag -->
    {% block extra_head %}{% endblock %}
</head>
<body>
    <!-- if the user has javascript disabled they can still use the menu -->
    <noscript>
        <div class="no-js-menu">
            <ul>
                <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                <li><i class="fa fa-user"></i><a href="author.html">John Smith</a></li>
                <li><i class="fa fa-anchor"></i><a href="page.html">About</a></li>
                <li><i class="fa fa-star"></i><a href="favorites.html">Favorites</a></li>
                <li><i class="fa fa-paper-plane"></i><a href="contact.html">Contact</a></li>
                <li><i class="fa fa-file"></i><a href="post.html">Post Page</a></li>
                <li><i class="fa fa-file"></i><a href="post-sidebar.html">Post with Sidebar</a></li>
                <li><i class="fa fa-home"></i><a href="alt-home.html">Alternate Home</a></li>
                <li><i class="fa fa-image"></i><a href="category.html">Category Page</a></li>
            </ul>
        </div>
    </noscript>
    <!-- end no script -->
    {% block content %}

    {% endblock content %}

    <script src="{% static "js/vendor/jquery-1.11.2.min.js" %}"></script>
    <script src="{% static "js/vendor/jquery.jpanelmenu.min.js" %}"></script>
    <script src="{% static "js/vendor/bootstrap.min.js" %}"></script>
    <script src="{% static "js/vendor/fastclick.min.js" %}"></script>
    <script src="{% static "js/vendor/jquery.backstretch.min.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
    {% block extra-javascript %}{% endblock %}
</body>
</html>
