<!-- Load Base HTML Template -->
{% extends "_base.html" %}

{% load copyrighttags %}

{% block content %}
<main class="container-fluid">
    <div class="row">

        <!-- Navigation Menu -->
        {% include "includes/navigation.html" %}

        <!-- Begin Sidebar -->
        <section class="sidebar col-md-3 col-sm-12" style="background-image: url(/static/img/wing-picture.jpg)">

            <span class="menu-trigger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </span>

            <!-- if the user has javascript disabled they can still use the menu -->
            <noscript>
                <div class="no-js-menu">
                    <ul>
                        <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                        <li><i class="fa fa-user"></i><a href="author.html">John Smith</a></li>
                        <li><i class="fa fa-anchor"></i><a href="page.html">About</a></li>
                        <li><i class="fa fa-star"></i><a href="favorites.html">Favorites</a></li>
                        <li><i class="fa fa-paper-plane"></i><a href="contact.html">Contact</a></li>
                        <li><i class="fa fa-file"></i><a href="post.html">Post Page</a></li>
                        <li><i class="fa fa-file"></i><a href="post-sidebar.html">Post with Sidebar</a></li>
                        <li><i class="fa fa-home"></i><a href="alt-home.html">Alternate Home</a></li>
                        <li><i class="fa fa-image"></i><a href="category.html">Category Page</a></li>
                    </ul>
                </div>
            </noscript>
            <!-- end no script -->

            <div class="site-info">
                <div class="primary-info">
                    <h1>KyleInProgress</h1>
                    <p>A place for me to subject the world to my random and idle thoughts. Enjoy!</p>
                </div>
                <div class="secondary-info">
                    <p>Copyright &copy; {% getCopyrightYears %} | Kyle Warner | All Rights Reserved</a></p>
                </div>
            </div>
        </section>

        <section class="col-md-7 col-sm-12 col-md-offset-3 main-content">
            {% block main_content %}{% endblock %}
        </section><!-- main content -->

    </div>
</main>
{% endblock content %}
