<div id="menu-target">
    <ul>
        <li><i class="fa fa-home"></i><a href="/">Home</a></li>
        <li><i class="fa fa-user"></i><a href="/about/">About</a></li>
        <li><i class="fa fa-plane"></i><a href="/warners-around-the-world/">Warners Around The World</a></li>
        <li><i class="fa fa-star"></i><a href="/favorite-things/">Favorite Things</a></li>
        <li><i class="fa fa-envelope"></i><a href="/contact/">Contact</a></li>
    </ul>
    <hr>
        <li><i class="fa fa-file"></i><a href="post-sidebar.html">Post with Sidebar</a></li>
    </ul>
    <ul>
        <li></li>
    </ul>
</div>
