{% extends "_layout_single_column.html" %}

<!-- The Page Title-->
{% block title %}
{{ block.super }}
{% endblock %}

<!-- Load Main Page Content -->
{% block main_content %}
        {% include "blog/post_full.html" %}
{% endblock %}

{% if object.header_image %}
    {% block extra-javascript %}
        <script>$(".hero-image").backstretch("{{ object.header_image.url }}");</script>
    {% endblock %}
{% endif %}

{% block footer %}
    {% include "blog/post_footer.html" %}
{% endblock footer %}
