{% load custom_markdown %}

{% block posts %}
    <div class="post">
      {% if not post.is_published %}<h1 class="unpublished">POST NOT PUBLISHED</h1>{% endif %}

      <h1>{{ object.title }}</h1>
      <h3>{{ object.published_date }}</h3>
      {{ object.text|custom_markdown }}
      <a href="{{ object.category.get_absolute_url }}">{{ object.category.name }}</a>
      {% for tag in post.tags.all %}
        <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
        {% endfor %}
    </div>

{% endblock %}
